<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="../vendors/semantic.min.css">
  <link rel="stylesheet" href="../css/almacen.css">
  <title>Document</title>
</head>
<body>
    <div class="ui menu">
        <div class="header item"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">
          <img  class="logo" src="../assets/images/logo.jpg" alt="">
        </font></font></div>
        
        <a class="item"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">
          Acerca de nosotros
         </font></font></a>
        <a class="item"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">
          Empleos
         </font></font></a>
        <a class="item"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">
          Ubicaciones
        </font></font></a>
      </div>



    <div class="ui vertical menu">
        <a class="teal item"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">
          Bandeja de entrada
          </font></font><div class="ui teal left pointing label"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">1</font></font></div>
        </a>
        <a class="item"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">
          Correo no deseado
          </font></font><div class="ui label"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">51</font></font></div>
        </a>
        <a class="item active"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">
          Actualizaciones
          </font></font><div class="ui label"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">1</font></font></div>
        </a>
        <div class="item">
          <div class="ui transparent icon input">
            <input type="text" placeholder="Search mail...">
            <i class="search icon"></i>
          </div>
        </div>
      </div>

      <script src="https://code.jquery.com/jquery-3.1.1.min.js" integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="
      crossorigin="anonymous"></script>
    <script src="../vendors/semantic.min.js"></script>   
  
</body>
</html>