<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="../vendors/semantic.min.css">
  <link rel="stylesheet" href="../css/almacen.css">
  <link rel="icon" href="../assets/logo1.png">
  <title>Sodimac</title>
</head>

<body>
  <div class="ui menu">
    <div class="header item">
      <font style="vertical-align: inherit;">
        <font style="vertical-align: inherit;">
          <img class="logo" src="../assets/images/logo.jpg" alt="">
        </font>
      </font>
    </div>
  </div>

    <div class="ui massive  vertical menu container-bandeja">
        <a id="allOrders" class="teal item"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">
          Todos los pedidos
        </font>
      </font>
      <div class="ui teal left pointing label">
        <font style="vertical-align: inherit;">
          <font style="vertical-align: inherit;">5</font>
        </font>
      </div>
    </a>
    <a id="missingOrders" class="item">
      <font style="vertical-align: inherit;">
        <font style="vertical-align: inherit;">
          Pedidos que faltan
        </font>
      </font>
      <div class="ui label">
        <font style="vertical-align: inherit;">
          <font style="vertical-align: inherit;">4</font>
        </font>
      </div>
    </a>
    <a id="deliveredOrders" class="item active">
      <font style="vertical-align: inherit;">
        <font style="vertical-align: inherit;">
          Pedidos entregados
        </font>
      </font>
      <div class="ui label">
        <font style="vertical-align: inherit;">
          <font style="vertical-align: inherit;">1</font>
        </font>
      </div>
    </a>

  </div>

  <div id="contenedor" class="container-dashboard">

  </div>

  <script src="https://code.jquery.com/jquery-3.1.1.min.js" integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="
    crossorigin="anonymous"></script>
  <script src="../vendors/semantic.min.js"></script>
  <script src="https://www.gstatic.com/firebasejs/4.12.1/firebase.js"></script>
  <script src="../js/data.js"></script>
  <script src="../js/login.js"></script>
  <script src="../js/almacen.js"></script>
  <script src="../js/firebase.js"></script>

</body>

</html>